@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header-container {
  display: flex;
}

.header {
  background-color: #F6F6F9;
}

.header-top {
  display: flex;
  justify-content: space-between;


}

.header-top-left {
  margin-right: auto;
}

.header-top-right {
  display: flex;
  margin-left: auto;
}

.navbar {
  width: 120px;
  height: 86px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.nav_item {
  display: flex;
  list-style: none;

  width: 1151px;
  height: 25px;
  left: 143px;
  top: 145px;
  font-style: 500;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.nav_bar_link {
  color: #515151;
  text-decoration: none;

}

.nav_link {
  margin-right: 10px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.telegram-link {

  border-radius: 5px;
  text-decoration: none;
  background-color: #1E96C8;
  height: 50px;
  width: 146px;
  padding: 50px;

}

.covid-info {
  display: flex;
  background-color: #F6F6F9;
  ;
}

.breaking-news {
  display: flex;
  justify-content: start;
}

.grid_items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.news-section {
  display: flex;
}

.grid_item {
  margin-bottom: 11px;
  margin-top: 11px;

  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.grid_part {
  list-style: none;
  margin-right: 20px;
  width: 380px;
}

.grid_time {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;

}